/*! Custom styles for this template */
html {
  height: 100%;
  -ms-overflow-style: scrollbar;
}
.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-brand-center {
  display: block;
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
}
.navbar-collapse {
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-toggler .arrow-up:before,
.navbar-toggler .arrow-up:after {
  bottom: 0;
  -webkit-transition: bottom 0.3s;
  -o-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.navbar-toggler.collapsed .arrow-up:before,
.navbar-toggler.collapsed .arrow-up:after {
  bottom: -8px;
}
.navbar-toggler .ellipsis-object {
  background-color: #fff;
  border: 1px solid #fff;
}
.navbar-account-btn {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 7px 15px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.navbar-upgrade-heading {
  line-height: 1.538462;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-upgrade-notification {
  color: inherit;
  display: block;
}
.navbar-upgrade-version {
  color: #808080;
  padding: 5px 15px;
}
.navbar-search {
  display: block;
  height: 50px;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  width: 300px;
}
.navbar-search-toggler {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 50px;
  left: 0;
  line-height: 50px;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}
.navbar-search-input {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  font-size: 13px;
  height: 50px;
  line-height: 50px;
  outline: none;
  padding-left: 50px;
  padding-right: 70px;
  text-overflow: ellipsis;
  width: 100%;
}
.navbar-search-adv-btn {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 9px;
  line-height: 20px;
  min-width: 70px;
  outline: none;
  padding: 15px 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}
.navbar-search-collapsed {
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  width: 50px;
}
.navbar-search-collapsed .navbar-search-adv-btn {
  right: -70px;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.dropdown-menu-lg {
  padding: 0;
  width: 420px;
}
.dropdown-header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}
.dropdown-body {
  height: 304px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
.dropdown-heading {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
}
.dropdown-link {
  float: right;
  line-height: 20px;
}
.dropdown-btn {
  background-color: transparent;
  background-image: none;
  border-color: #ddd;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-style: solid;
  border-width: 1px 0 0;
  color: #444;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  outline: none;
  padding: 5px 10px;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
  background-color: #81112c;
  border-color: #81112c;
  color: #fff;
  text-decoration: none;
}
.notification:before,
.notification:after {
  content: " ";
  display: table;
}
.notification:after {
  clear: both;
}
.notification-media {
  float: left;
  margin-right: 10px;
}
.notification-content {
  overflow: hidden;
}
.notification-heading {
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
}
.notification-timestamp {
  float: right;
  font-size: 12px;
  line-height: 20px;
}
.notification-text {
  margin-bottom: 0;
}
.sidenav-toggler {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-left: -15px;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  width: 50px;
}
.sidenav-toggler.collapsed {
  width: 60px;
}
.navbar-default .navbar-header {
  background-color: #81112c;
}
.navbar-default .navbar-toggler .arrow-up:before,
.navbar-default .navbar-toggler .arrow-up:after {
  border-bottom-color: #fff;
}
.navbar-default .navbar-account-btn {
  color: #777;
}
.navbar-default .navbar-account-btn:hover,
.navbar-default .navbar-account-btn:focus {
  background-color: #fff;
  color: #81112c;
}
.navbar-default .open .navbar-account-btn,
.navbar-default .open .user-account-btn:hover,
.navbar-default .open .user-account-btn:focus {
  background-color: #ddd;
  color: #222;
}
.navbar-default .navbar-search-collapsed {
  background-color: #fff;
  color: #777;
}
.navbar-default .navbar-search-toggler {
  color: #777;
}
.navbar-default .navbar-search-toggler:hover {
  background-color: #fff;
  color: #81112c;
}
.navbar-default .navbar-search-input {
  color: #777;
}
.navbar-default .navbar-search-input::-moz-placeholder {
  color: #ddd;
  opacity: 1;
}
.navbar-default .navbar-search-input:-ms-input-placeholder {
  color: #ddd;
}
.navbar-default .navbar-search-input::-webkit-input-placeholder {
  color: #ddd;
}
.navbar-default .navbar-search-adv-btn {
  color: #777;
}
.navbar-default .sidenav-toggler.collapsed {
  background-color: #81112c;
}
.navbar-default .sidenav-toggler .bar-line.in {
  background-color: #81112c;
}
.navbar-inverse .navbar-toggler .arrow-up:before,
.navbar-inverse .navbar-toggler .arrow-up:after {
  border-bottom-color: #81112c;
}
.navbar-inverse .navbar-account-btn {
  color: #fff;
}
.navbar-inverse .navbar-account-btn:hover,
.navbar-inverse .navbar-account-btn:focus {
  background-color: #ea2610;
  color: #fff;
}
.navbar-inverse .open .navbar-account-btn,
.navbar-inverse .open .user-account-btn:hover,
.navbar-inverse .open .user-account-btn:focus {
  background-color: #ea2610;
  color: #fff;
}
.navbar-inverse .navbar-search {
  background-color: #ea2610;
  color: #fff;
}
.navbar-inverse .navbar-search-collapsed {
  background-color: #81112c;
  color: #fff;
}
.navbar-inverse .navbar-search-toggler {
  color: #fff;
}
.navbar-inverse .navbar-search-toggler:hover {
  background-color: #ea2610;
  color: #fff;
}
.navbar-inverse .navbar-search-input {
  color: #fff;
}
.navbar-inverse .navbar-search-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
  opacity: 1;
}
.navbar-inverse .navbar-search-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-inverse .navbar-search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-inverse .navbar-search-adv-btn {
  color: #fff;
}
.navbar-inverse .sidenav-toggler.collapsed {
  background-color: #ea2610;
}
.sidenav-search .form-group {
  margin-bottom: 0;
}
.layout-content-body {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  float: left;
  padding: 15px 15px 35px;
  visibility: visible;
  width: 100%;
}
.layout-footer-body {
  padding: 5px 15px;
}
.title-bar {
  padding: 10px 10px 5px;
  float:left;
}
.title-bar-title {
  display: block;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
}
.title-bar-actions {
  float: right;
}
.title-bar-shortcut {
  color: inherit;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
  position: relative;
}
.title-bar-shortcut:hover,
.title-bar-shortcut:focus {
  color: inherit;
  text-decoration: none;
}
.title-bar-shortcut:before {
  color: transparent;
  content: "\f005";
  display: block;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.title-bar-shortcut:after {
  content: "\f006";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
.title-bar-shortcut:hover:before {
  color: #ffeb3b;
}
.title-bar-shortcut.active:before,
.title-bar-shortcut.active:hover:before {
  color: #fbc02d;
}
.title-bar-description {
  margin-bottom: 0;
  margin-top: -5px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.dropdown-menu.inner:before,
.dropdown-menu.inner:after {
  content: normal;
  display: none;
}
.jqvmap-zoomin,
.jqvmap-zoomout {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.img-flag {
  display: inline-block;
  height: 15px;
  margin-right: 5px;
  width: 20px;
}
.select2-dropdown {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
}
.panel {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .navbar-header {
    -webkit-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    width: 220px;
  }
  .navbar-toggleable {
    margin-left: 220px;
    -webkit-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
  }
  .navbar-default .navbar-nav > li {
    border-left: 1px solid #f6f6f6;
  }
  .navbar-inverse .navbar-nav > li {
    border-left: 1px solid #c8200e;
  }
  .layout-sidebar-collapsed .navbar-header {
    overflow: hidden;
    width: 0;
  }
  .layout-sidebar-collapsed .navbar-toggleable {
    margin-left: 0;
  }
  .layout-sidebar-body {
    padding-bottom: 5px;
    padding-top: 2px;
  }
  .sidenav-collapse {
    display: block !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {


  .navbar-nav {
    margin: 10px;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu .dropdown-btn {
    padding: 10px 15px;
  }
  .navbar-default .navbar-nav > li + li > a {
    border-top: 1px solid #f6f6f6;
  }
  .navbar-default .dropdown-heading {
    color: #777;
  }
  .navbar-default .dropdown-link {
    color: #777;
  }
  .navbar-default .dropdown-header {
    border-color: #f6f6f6;
    color: #222;
  }
  .navbar-default .dropdown-btn,
  .navbar-default .dropdown-btn:hover,
  .navbar-default .dropdown-btn:focus {
    background-color: #ddd;
    border-color: #f6f6f6;
    color: #222;
  }
  .navbar-default .notification-timestamp {
    color: rgba(119, 119, 119, 0.75);
  }
  .navbar-inverse .navbar-nav > li + li > a {
    border-top: 1px solid #c8200e;
  }
  .navbar-inverse .dropdown-heading {
    color: #fff;
  }
  .navbar-inverse .dropdown-link {
    color: #fff;
  }
  .navbar-inverse .dropdown-header {
    border-color: #c8200e;
    color: #fff;
  }
  .navbar-inverse .dropdown-btn,
  .navbar-inverse .dropdown-btn:hover,
  .navbar-inverse .dropdown-btn:focus {
    background-color: #ea2610;
    border-color: #c8200e;
    color: #fff;
  }
  .navbar-inverse .notification-timestamp {
    color: rgba(255, 255, 255, 0.75);
  }
}


/* Product listing */


.prod {
  color: #777;
  height: 50%;
  /*overflow: hidden;*/
  position: relative;
  width: 100%;
}

.prod-detail {
  width: 50%;
  background:#ffffff;
  vertical-align: top;
}
.prod-sidebar {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  display:block;
  /* float:left;*/
}
.prod-sidebar.active {
  display: block;
}
.prod-sidebar-header {
  padding: 15px;
}
.prod-list {

  margin-bottom: 0;
  padding-left: 0;
}
.prod-list-item {
  border-top: 1px solid #ddd;
  display: block;
  /*position: relative;*/
}

.prod-content {
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  display: none;
}
.prod-content.active {
  display: block;
  float:right;
}
.prodhalf {
  width: 50%;
}
.prodtable {
  width: 100%;
}
.prodtablefoot {
  text-align: center; padding-top:10px; padding-bottom:10px; border-top:1px solid #dddddd;
}
.prod-content-body {
  padding: 0px 10px;
  background: #fff;
}


@media (max-width: 992px) {
  .prod-detail {
    width: 100%;
    position: absolute;
  }
  .title-bar-title {font-size: 10px;}
}

@media (max-width: 654px) {

  .title-bar-title {display:none;}
}

.sidenav > li.active > a:after {
  border-right-color: #fff;
}

.clearspace {
  clear: both;
  margin-top:20px;
}

.cartbg {
  padding:5px;
  background-color:#fff;
  border:1px solid #6b6b6b;
  border-radius: 5px;
}

.search-bordered {
  border: 1px solid #81112c;
  padding: 0px 20px;
  margin: 10px 0px 25px 0px;
  box-shadow: #81112c 0px 2px 4px 0px;
  background:#ffffff;
}

.v-margin-xx {
  margin-top:33%;
}

.search-text {
  font-size: 15px;
  margin-top: 0px;
  color: #81112c;
}

thead, th {
  background-color:#ece49b;
}

th,td {
  padding:5px;
}

tr:nth-child(even).prodtable {background: #f4f4f4;}
tr:nth-child(odd).prodtable {background: #ffffff;}

tr.prodtable:hover {background: #84754e; color:#fff;}
tr.prodtable:hover a { color:#fff;}

input[type=number]{color: #6c0f27;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.prod-quant {
  width: 50px;
  text-align: center;
}

h5.prod-list {
  text-transform: uppercase;
}

.prod-new {
  float:right;
  margin-top: 8px;
}

.price {
 float:right;
  margin-top: -12px;
}

.price-lg {
  font-size:26px;
  font-weight: 200;
  color:#81112c;
}

.prodimg {
  float: left;
  margin-right: 10px;
}

.specs {
  display: inherit;
  margin-bottom: 10px
}

.prodnav {
  color: gray;
  margin: 0px 7px;
}

.prodnav:hover {
  text-decoration: none;
}
/*
Barna: #84754e; Sarga: Tablazat csikos szurke: #f4f4f4; Add to cart: #9b9b9b; Add to cart active: #f5841f;
*/